@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

section {

}

html{
/*find a way to change page color*/
}

.profile-img {
    height: 6px;
    width: auto;
    animation-duration: 4s;
    /*find out how to make an animation to open and close image*/
    /*change pixel size to suit image against window*/
}

@keyframes .profile-img {
    
}

@media {
    
}